{% extends "volunteers/base.html" %}
{% load staticfiles %}

{% block cssfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/staffPages.css' %}" />
	{% block specificCss %}
	{% endblock specificCss %}
{% endblock cssfiles %}

{% block tabs %}
<a href="{% url 'logout' %}"><button class="logout-btn btn btn-default">Logout</button></a>
<br>

<h1 class="bnb-header"> {{ org_name }} </h1>
{% if subheader %}
    <h4 class="subheader"> {{ subheader }} </h4>
{% endif %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="{% url 'volunteerStaffHome' %}">Volunteer Profile</a>
  </li>
  <li role="presentation">
    <a href="{% url 'editProfile' %}">Edit Profile</a>
  </li>
  <li role="presentation">
    <a href="{% url 'volunteerStaffUserSearchResult' %}">Users</a>
  </li>
  <li role="presentation">
    <a href="{% url 'volunteerStaffLog' %}">Activities</a>
  </li>
  <li role="presentation">
    <a href="{% url 'codeGenerator' %}">Vouchers</a>
  </li>
  <li role="presentation">
    <a href="{% url 'volunteerStaffActivity' %}">Activity Types</a>
  </li>
</ul>
{% endblock tabs %}

{% block tabcontent %}
{% endblock tabcontent %}

{% block jsfiles %}
{% endblock jsfiles %}