 {% extends "volunteers/staff_templates/base_staff_generateVoucher.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/Bootstrap/bootstrap-datetimepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/codeGenerator.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
<div class="find-title">Find Vouchers</div>

<form method="post" action="">{% csrf_token %}

<div class="filters">
  <div class="filter1">
	  <p class="generated-btn">Generated between</p>
      <input name="dateDown" class="DateTimeInput datetimeEntry" id="date2" type="text"  value="{{dateDown}}">
    <p class="and">and </p>
      <input name="dateUp" class="DateTimeInput datetimeEntry" id="date1" type="text"  value="{{dateUp}}">
  </div>

  <div class="filter2">
  <p class="credits-label">Credits between</p>
    <input name="creditsDown" class="credits-btn1 DateInput onlyNumbersEntry" type="number" value={{creditsDown}}>
    <p class="and">and </p>
    <input name="creditsUp" class="credits-btn2 DateInput onlyNumbersEntry" type="number" value={{creditsUp}}>
  </div>

  <div class="filter3">
    <p class="redeemed">Redemed or not: </p>
    <select class="btn btn-default dropdown-toggle" name="isRedemed">
      <option {% if isRedemed == "All" %}selected{% endif %}value="All">All</option>
      <option {% if isRedemed == "Yes" %}selected{% endif %} value="Yes">Yes</option>
      <option {% if isRedemed == "No" %}selected{% endif %} value="No">No</option>
    </select>
    <br>
  <input type="submit"  formaction="?page=0" Value="Search" class="search-btn btn btn-primary">
  <br>
</div>
</div>  

<div class="page-btns">
  <input type="submit" formaction="?page={{ lastPage }}" Value="Last Page" class="last-page btn btn-default"> 
  
  <input type="submit" formaction="?page={{ nextPage }}" Value="Next Page" class="next-page btn btn-default">
</div>

  <div class="gotopage wrap">
    <div class="content">
      <p class="goto-label">{{ num }} vouchers found. This is page {{ pageNum }} of {{ allPage }}. Go to page </p>
      <input name="toPage" class="toPage onlyNumbersEntry" type="text" >
    <input type="submit"  formaction="?page=?" Value="Go" class="goto-btn btn btn-default">
      </div>
  </div>

</form>

<form action="" method="post">{% csrf_token %}
<div class="panel panel-default vouchers-panel">
    <div class="panel-heading">All Vouchers</div>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Credits</th>
        <th>Is Redemed</th>
	<th>Generate Time</th>
	<th>Creator</th>
        <th>Selected
    <input type="checkbox" name="allSelect" id="allSelect"></input>
        </th>
    </tr>
    {% for item in query_results %}
    <tr> 
      <td>{{ item.id }}</td>
      <td>{{ item.code }}</td>
      <td>{{ item.credits }}</td>
      <td>{% if item.redemptionActivity != null %}Yes{% endif %}{% if item.redemptionActivity == null %}No{% endif %}</td>
      <td>{{ item.generateDate }}</td>
      <td>{{ item.creator }}</td>
      <td><input id="checkbox-{{item.id}}"  name="{{ item.code }}" type="checkbox"></td>
    </tr>
    {% endfor %}
</table>
</div>
  <input type="submit" formaction="?export=No" value="Delete Selected Vouchers" class="delete-btn btn btn-danger">
  <input type='submit' formaction="?export=Yes" value="Export selected Vouchers" class=" export-btn btn btn-primary">
  </form>
</form>


<div class="generator-title"> Generate Vouchers</div>

<form class="generator" action="{% url 'generateCodes' %}" method="post">{% csrf_token %}
<div id="dynamicInput">
    <p class="voucher-points">Voucher Points:</p><input type="text" class="onlyNumbersEntry" name="myInputs1">
    <p class="how-many">Quantity of vouchers?:</p><input type="text" class="onlyNumbersEntry"name="myInputs1">
</div>
<!-- <input type="button" class="btn btn-default create-more-btn" value="Create another type of voucher" onClick="addInput('dynamicInput');"> -->
<input class="btn btn-primary generate-btn" type="submit" value="Generate" />
</form>
{% endblock tabcontent %}

{% block jsfiles %}
<script type="text/javascript">
  $('#allSelect').click(function(event){
    if(this.checked){
      $(':checkbox').each(function(){this.checked = true;});
      }
    else{
      $(':checkbox').each(function(){this.checked = false;});
      } 
      });
  </script>
<script src="{% static 'volunteers/js/codeGenerator.js' %}"></script>
<script src="{% static 'volunteers/js/JQuery/bootstrap-datetimepicker.js'%}"></script>
<script type="text/javascript">
	$(document).ready(function(){
			$('#date1').datetimepicker({format: "yyyy-mm-dd hh:ii"});
			$('#date2').datetimepicker({format: "yyyy-mm-dd hh:ii"});
			});
	</script>
{% endblock jsfiles %}
