{% load staticfiles %}
<html>
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/Bootstrap/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/code.css' %}" />
<body>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Volunteer Profile</a></li>
  <li role="presentation"><a href="#">Search</a></li>
  <li role="presentation"><a href="#">View Timesheet</a></li>
  <li role="presentation" class="active"><a href="#">Generate Voucher</a></li>
</ul>

<button class="generate-code-btn btn btn-default">
	<!-- <span class="glyphicon glyphicon-plus"></span> -->
	Generate Code
</button>

<div class="codeAppear"></div>

<!-- <div class="input-group search">
  <input type="text" class="form-control" placeholder="Search by volunteer name...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Go!</button>
  </span>
</div> --><!-- /input-group -->

<!-- <div class="panel panel-default results">
  Default panel contents
  <div class="panel-heading">Results</div> -->

<!-- 
  <table class="table">
    <tr>
	        <th>Name</th>
	        <th>Email</th>
	        <th>Phone</th>
	    </tr>
	    <!-- {% for item in query_results %} --
	    <tr> 
	    	<td><a href="#">Someone Volunteering</a></td>
	    	<td><a href="#">Someone@volunteering.com</a></td>
	    	<td><a href="#">617-SOME-ONE</a></td>
	        <!-- <td>{{ item.user }}</td>
	        <td>{{ item.date }}</td>
	        <td>{{ item.task }}</td>
	        <td>{{ item.hours }}</td>
	        <td>{{ item.rate }}</td>
	        <td>{{ item.voucherearned }}</td> --
	    </tr>
	    <!-- {% endfor %} --
  </table>
</div>
 -->

<!-- JQuery -->
<script src="{% static 'volunteers/js/JQuery/jquery-1.11.2.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'volunteers/js/Bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'volunteers/js/codeGenerator.js' %}"></script>
</body>
</html>