<html>
<head>
    <title> Reset password </title>
</head>
<body>
    <h2> Request a password reset </h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p> {{ field.label_tag }} {{ field }} </p>
        {% endfor %}
    <input type="submit" value="Submit">
    <a href="{% url "userLogin" %}"><input type="button" value="Return to login"></a>
    </form>
</body>
</html>