{% extends "volunteers/base.html" %}
{% load staticfiles %}

{% block pageTitle %}
Password Reset
{% endblock pageTitle %}

{% block cssfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "volunteers/css/noLoginRequired.css" %}" />
{% endblock cssfiles %}

{% block tabcontent %}
<div class="centered">
    <h2 class="title"> Password Reset </h2>
    
    <form method="post" class="form">
        {% csrf_token %}
        {% if messages %}
            Error(s) encountered:
            <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
            </ul>
            <br>
        {% endif %}
        <div><div class="input-label"> *Username: </div> {{ form.username }}</div>
        <div><div class="input-label"> *Email: </div> {{ form.email }}</div>
        <center>
            <input class="bs-btn btn-default btn" type="submit" value="Send reset email">
            <a href="{% url "userLogin" %}"><input class="bs-btn btn-default btn" type="button" value="Return to login"></a>
        </center>
    </form>
</div>
{% endblock tabcontent %}