{% extends "volunteers/base.html" %}
{% load staticfiles %}

{% block cssfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/login.css' %}" />
{% endblock cssfiles %}

{% block tabcontent %}
<div class="centered">
    <h2 class="title"> {{ org_name_short }} Volunteer Credit System </h2>
    {% if messages %}
        {% for message in messages %}
            {{ message }} <br>
        {% endfor %}
        <br>
    {% endif %}
    <form method="post" class="login-form">
        {% csrf_token %}
        <div class="username">
          <div class="input-label">Username:</div>
          {{ form.username }}
        </div>
        <div class="password">
          <div class="input-label">Password:</div>
          {{ form.password }}
        </div>
        {% if form.captcha.field.required %}
            <center><p> {{ form.captcha }} </p></center>
        {% endif %}
        <input class="login-btn btn-default btn" type="submit" value="Login">
    </form>

    <a href="{% url "forgetPassword" %}"> Forget password </a> <br>
    <a href="{% url "userRegistration" %}"> Don't have an account? Register here! </a>
</div>
{% endblock tabcontent %}

{% block jsfiles %}
{% endblock jsfiles %}