{% extends "volunteers/base.html" %}
{% load staticfiles %}

{% block pageTitle %}
Login
{% endblock pageTitle %}

{% block cssfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/noLoginRequired.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static "volunteers/css/captcha.css" %}" />
{% endblock cssfiles %}

{% block tabcontent %}
<div class="centered">
    <h2 class="title"> {{ org_name_short }} Volunteer Credit System </h2>
    <form method="post" class="form">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {{ message }} <br>
            {% endfor %}
            <br>
        {% endif %}
        <div class="username">
          <div class="input-label">Username:</div>
          {{ form.username }}
        </div>
        <div class="password">
          <div class="input-label">Password:</div>
          {{ form.password }}
        </div>
        <center>
            {% if form.captcha.field.required %}
                <p> {{ form.captcha }} </p>
            {% endif %}
            <input class="btn-default btn" type="submit" value="Login">
            <a href="{% url "forgetPassword" %}"><input class="btn-default btn" type="button" value="Forget password"></a>
            <a href="{% url "userRegistration" %}"><input class="btn-default btn" type="button" value="Register"></a>
        </center>
    </form>
</div>
{% endblock tabcontent %}

{% block jsfiles %}
    <script src="{% static "volunteers/js/captcha.js" %}"></script>
{% endblock jsfiles %}