<html>
<head>
    <title> Register </title>
<head>
<body>
    <h2> Register </h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form>
        {% csrf_token %}
        {% for field in form %}
            <p> {{ field.label_tag }} {{ field }} </p>
        {% endfor %}
        <input type="submit" method="post" value="Register">
        <button type="cancel"><a href="{% url "userLogin" %}">Cancel</a></button>
    </form>
</body>
</html>