{% extends "volunteers/base.html" %}
{% load staticfiles %}

{% block pageTitle %}
Register
{% endblock pageTitle %}

{% block cssfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "volunteers/css/noLoginRequired.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "volunteers/css/captcha.css" %}" />
{% endblock cssfiles %}

{% block tabcontent %}
<div class="centered">
    <h2 class="title"> Register </h2>
    
    <form method="post" class="form">
        {% csrf_token %}
        {% if messages %}
            Error(s) encountered:
            <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
            </ul>
            <br>
        {% endif %}
        <div><div class="input-label"> *Username: </div> {{ form.username }}</div>
        <div><div class="input-label"> *Email: </div> {{ form.email }}</div>
        <div><div class="input-label"> *Password: </div> {{ form.password }}</div>
        <div><div class="input-label"> *Confirm password: </div> {{ form.confirm_password }}</div>
        <div><div class="input-label"> *First name: </div> {{ form.first_name }}</div>
        <div><div class="input-label"> *Last name: </div> {{ form.last_name }}</div>
        <div><div class="input-label"> *Address: </div> {{ form.address }}</div>
        <div><div class="input-label"> *Phone: </div> {{ form.phone }}</div>
        <center>
            <p> {{ form.captcha }} </p>
            <input class="btn-default btn" type="submit" value="Register">
            <a href="{% url "userLogin" %}"><input class="btn-default btn" type="button" value="Return to login"></a>
        </center>
    </form>
</div>
{% endblock tabcontent %}

{% block jsfiles %}
    <script src="{% static "volunteers/js/captcha.js" %}"></script>
{% endblock jsfiles %}