{% extends "volunteers/staff_templates/base_staff_generateVoucher.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/viewGeneratedCodes.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
  <a href="../codeGenerator"><button class="make-voucher-btn btn btn-default">Back to Vouchers Page
  </button></a>
  <a href="../exportCodes"><button class="export-voucher-btn btn btn-default">Export existing voucher codes
  </button></a>

  <div class="panel panel-default results">
    <!-- Below are the generated voucher codes and choresponding point values. -->
    <div class="panel-heading">Generated Vouchers</div>

    <table class="table">
      <tr>
          <th>Code</th>
          <th>Credits</th>
      </tr>
      {% for voucher in generatedVouchers %}
      <tr> 
          <td>{{ voucher.code }}</td>
          <td>{{ voucher.credits }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock tabcontent %}

{% block jsfiles %}
{% endblock jsfiles %}