{% extends "volunteers/staff_templates/base_staff_search.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/Bootstrap/datepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/volunteerStaffLog.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/codeGenerator.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/search.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/codeGenerator.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/volunteerStaffUser.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
<a href="{% url 'volunteerStaffUserSearchResult' %}"><button class="back-btn btn btn-default">Back</button></a>

<div class="panel panel-default results">
  <div class="panel-heading">{{ getuser }}</div>
<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Credits Avaliable</th>
    </tr>
    <tr> 
        <td>{{ getuser.last_name }}</td>
        <td>{{ getuser.first_name }}</td>
        <td>{{ getuser.profile.phone }}</td>
  <td>{{ getuser.profile.address }}</td>
  <td>{{ getuser.profile.credit }}</td>
    </tr>
</table>
</div>
  <form action="" method="post">{% csrf_token %}
<div class="panel panel-default results">
  <div class="panel-heading">Timesheet</div>
<table class="table">
	<tr>
	<th>Id</th>
        <th>DateDone</th>
        <th>DateEntered</th>
        <th>ActivityType</th>
        <th>Description</th>
	<th>Credits</th>
	<th>Staff</th>
		    <th>Selected
		<input type="checkbox" name="allSelect" id="allSelect"></input>
		    </th>
    </tr>
    {% for item in search_results %}
    <tr> 
	<td>{{ item.id }}</td>
        <td>{{ item.dateDone }}</td>
        <td>{{ item.dateEntered }}</td>
        <td>{{ item.activityType.name }}</td>
        <td>{{ item.description }}</td>
  <td>{{ item.credits }}</td>
  <td>{{ item.staff }}</td>
	    <td><input id="checkbox-{{item.id}}"  name="{{ item.id }}" type="checkbox"></td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="add-logs">
  <input type="submit" value="Delete Selected Logs" class="btn btn-danger">
  </form>
</div>

</form>
<!-- JQuery -->


<div class="add-log-title">Add a log to {{ getuser.first_name }}</div>
  <form action="?getuser={{getuser}}" class="add-log-to-user" method="post">{% csrf_token %}
	  <div class="field1">
      <p class="description-label">Description:</p>
        <input type="text" name="description">
    </div>

    <div class="field2">
      <p class="credits-label">Credits:</p>
        <input type="number" name="credits">
    </div>

    <div class="field3">
      <p class="done-label">Date Done:</p>
        <input name="dateDone" class="DateInput" id="date1" type="text" format="y-m-d" value={{dateDone}}>
    </div>

    <div class="field4">
      <p class="type-label">Activity Type:</p>
        <select name="activityType" class="btn btn-default dropdown-toggle">
          {% for type in type_choices %}
            <option {% if type.name == typeSelected %}selected{% endif %} value="{{type}}">{{type}}</option>
          {% endfor %}  
        </select>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
  {{inform}}
{% endblock tabcontent %}

{% block jsfiles %}
<script src="{% static 'volunteers/js/JQuery/jquery-1.11.2.min.js'%}"></script>
<script src="{% static 'volunteers/js/JQuery/bootstrap-datepicker.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#date1').datepicker({format: "yyyy-mm-dd"});
      $('#date2').datepicker({format: "yyyy-mm-dd"});
      });
  </script>
<script type="text/javascript">
	$('#allSelect').click(function(event){
		if(this.checked){
			$(':checkbox').each(function(){this.checked = true;});
			}
		else{
			$(':checkbox').each(function(){this.checked = false;});
			}	
			});
	</script>
{% endblock jsfiles %}
