{% extends "volunteers/staff_templates/base_staff_search.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/Bootstrap/datepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/search.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
<form action="{% url 'volunteerStaffUserSearchResult' %}" method="post">
{% csrf_token %}
<div class="add-logs">
  <p class="add-label">Filters:</p>
  <p class="credits-label">Last name:</p>
  <input name="lastname" class="DateInput" type="text" value={{lastname}}>
  <br>
  <p class="credits-label">Credits between</p>
  <input name="creditsDown" class="DateInput" type="number" value={{creditsDown}}>
  <p class="credits-label">and </p>
  <input name="creditsUp" class="DateInput" type="number" value={{creditsUp}}>
  <br>
  <p class="credits-label">Phone</p>
  <input name="phone" class="DateInput" type="text" value={{phone}}>
  <p class="credits-label">Email</p>
  <input name="email" class="DateInput" type="text" value={{email}}>
  <input type="submit" value="Search" class="btn btn-default">
</div>



</form>

    
<div class="panel panel-default results">
    <div class="panel-heading">Users</div>
    <form action="" method="post">{% csrf_token %}
    <table class="table">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Credits Avaliable</th>
            <th>Selected
		        <input type="checkbox" name="allSelect" id="allSelect"></input> 
            </th>
        </tr>
        {% for user, userCredit in search_results %}
        <tr> 
          <td><a href="../user/?getuser={{ user }}" >{{ user.last_name }}</a></td>
          <td><a href="../user/?getuser={{ user }}" >{{ user.first_name }}</a></td>
          <td>{{ user.email }}</td>
          <td>{{ userCredit }}</td>
          <td><input name="{{ user.username }}"type="checkbox" id="checkbox-{{ user.id }}"></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock tabcontent %}

{% block jsfiles %}
<script src="{% static 'volunteers/js/JQuery/jquery-1.11.2.min.js'%}"></script>
<script src="{% static 'volunteers/js/JQuery/bootstrap-datepicker.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#date1').datepicker({format: "yyyy-mm-dd"});
      $('#date2').datepicker({format: "yyyy-mm-dd"});
      });
  </script>
<script type="text/javascript">
	$('#allSelect').click(function(event){
		if(this.checked){
			$(':checkbox').each(function(){this.checked = true;});
			}
		else{
			$(':checkbox').each(function(){this.checked = false;});
			}	
			});
	</script>
{% endblock jsfiles %}
