Welcome to the staff home page, {{user.first_name}}!
<br>
<a href="{% url 'volunteerStaffHome' %}">Home</a>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'editProfile' %}"> Edit account info </a>
<br>
<a href="{% url 'volunteerStaffActivity' %}"> Activities </a>
<a href="{% url 'volunteerStaffUserSearchResult' %}"> Users </a>
<a href="{% url 'volunteerStaffLog' %}"> Logs </a>

<br>


<table>
    <tr>
        <th>User</th>
        <th>DateDone</th>
        <th>DateEntered</th>
        <th>activityType</th>
        <th>description</th>
        <th>credits</th>
    </tr>
    {% for item in Logs %}
    <tr> 
	    <td><a href="user/?getuser={{item.user}}">{{ item.user }}</a></td>
        <td>{{ item.dateDone }}</td>
        <td>{{ item.dateEntered }}</td>
        <td>{{ item.activityType.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.credits }}</td>
    </tr>
    {% endfor %}
</table>

<br>
Add logs here:
<br>

<form action="" method="post">{% csrf_token %}
<table id="add">
	<tr>
		<th>User</th>
		<th>Description</th>
		<th>Credits</th>
	</tr>
	<tr id="line">
		<th><input type="text" name="user"></th>
		<th><input type="text" name="description"></th>
		<th><input type="text" name="credits"></th>
	</tr>
</table>
<input type="button" value="Add One" onClick="addInput();">

</form>

<script>
var counter = 1;
var limit = 15;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
	     var line = document.getElementById("line");
	     var newline = line.cloneNode(true);
          document.getElementById('add').appendChild(newline);
          counter++;
     }
}
</script>
