{% extends "volunteers/staff_templates/base_staff_viewTimesheet.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/Bootstrap/datepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/volunteerStaffLog.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/codeGenerator.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/search.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
<form method="post" action="">
{% csrf_token %}
<div class="filters">
  <div class="filter1">
    <p class="credits-label">Activity done between </p>
      <input name="dateDoneDown" class="DateInput" id="date2" type="text" format="y-m-d" value={{dateDoneDown}}>
    <p class="credits-label">and </p>
    <input name="dateDoneUp" class="DateInput" id="date1" type="text" format="y-m-d" value={{dateDoneUp}}>
  </div>

 <div class="filter2">
    <p class="credits-label">Activity Type</p>
    <select class="btn btn-default dropdown-toggle" name="activityType">
      <option value="All">All</option>
      {% for type in type_choices %}
      <option {% if type.name == typeSelected %}selected{% endif %} value="{{type}}">{{type}}</option>
      {% endfor %}  
    </select>
  </div>

  <div class="filter3">
    <p class="credits-label">Credits between</p>
    <input name="creditsDown" class="DateInput" type="number" value={{creditsDown}}>
    <p class="credits-label">and </p>
    <input name="creditsUp" class="DateInput" type="number" value={{creditsUp}}>
  </div>

  <input type="submit" Value="Search" class="btn btn-default">
</div>

<div class="page-btns">
  <input type="submit" formaction="?page={{ lastPage }}" Value="Last Page" class="last-page btn btn-default"> 
  
  <input type="submit" formaction="?page={{ nextPage }}" Value="Next Page" class="next-page btn btn-default">
</div>

  <div class="gotopage wrap">
    <div class="content">
      <p class="goto-label">{{ num }} vouchers found. This is page {{ pageNum }} of {{ allPage }}. Go to page </p>
      <input name="toPage" class="toPage" type="text" >
    <input type="submit"  formaction="?page=?" Value="Go" class="goto-btn btn btn-default">
      </div>
  </div>

	<form action="" method="post">{% csrf_token %}
<div class="panel panel-default results">
    <div class="panel-heading">Timesheet</div>
<table class="table">
	<tr>
	<th>Id</th>
        <th>User</th>
        <th>DateDone</th>
        <th>DateEntered</th>
        <th>ActivityType</th>
        <th>Description</th>
  <th>Credits</th>
  <th>Staff</th>
		    <th>Selected
		<input type="checkbox" name="allSelect" id="allSelect"></input>
		    </th>
    </tr>
    {% for item in Logs %}
    <tr> 
	    <td>{{ item.id }}</td>    
      <td><a href="../user/?getuser={{item.user}}">{{ item.user }}</a></td>
        <td>{{ item.dateDone }}</td>
        <td>{{ item.dateEntered }}</td>
        <td>{{ item.activityType.name }}</td>
        <td>{{ item.description }}</td>
  <td>{{ item.credits }}</td>
  <td>{{ item.staff }}</td>
	    <td><input id="checkbox-{{item.id}}"  name="{{ item.id }}" type="checkbox"></td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="add-logs">
  <input type="submit" value="Delete Selected Logs" class="btn btn-danger">
  </form>
</div>
{% endblock tabcontent %}

{% block jsfiles %}
<script src="{% static 'volunteers/js/JQuery/jquery-1.11.2.min.js'%}"></script>
<script src="{% static 'volunteers/js/JQuery/bootstrap-datepicker.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#date1').datepicker({format: "yyyy-mm-dd"});
      $('#date2').datepicker({format: "yyyy-mm-dd"});
      });
  </script>
<script type="text/javascript">
	$('#allSelect').click(function(event){
		if(this.checked){
			$(':checkbox').each(function(){this.checked = true;});
			}
		else{
			$(':checkbox').each(function(){this.checked = false;});
			}	
			});
	</script>
{% endblock jsfiles %}
