{% extends "volunteers/staff_templates/base_staff_search.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/search.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
<form action="{% url 'volunteerStaffUserSearchResult' %}" method="post">{% csrf_token %}

<div class="input-group search">


<input type="text" class="form-control" Placeholder="Last Name"  name="lastname">
<span class="input-group-btn">
  <input type="submit"  class="btn btn-default" value="Go!">
</span>
</div>
</form>

<div class="panel panel-default results">
  <div class="panel-heading">{{ getuser }}</div>
<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Phone Number</th>
        <th>Address</th>
  <th>Credits Avaliable</th>
    </tr>
    <tr> 
        <td>{{ getuser.last_name }}</td>
        <td>{{ getuser.first_name }}</td>
        <td>{{ getuser.profile.phone }}</td>
  <td>{{ getuser.profile.address }}</td>
  <td>{{ getuser.profile.credit }}</td>
    </tr>
</table>
</div>
<br>
<div class="panel panel-default results">
  <div class="panel-heading">Timesheet</div>
<table class="table">
    <tr>
        <th>DateDone</th>
        <th>DateEntered</th>
        <th>activityType</th>
        <th>description</th>
  <th>credits</th>
  <th>Staff</th>
    </tr>
    {% for item in search_results %}
    <tr> 
        <td>{{ item.dateDone }}</td>
        <td>{{ item.dateEntered }}</td>
        <td>{{ item.activityType.name }}</td>
        <td>{{ item.description }}</td>
  <td>{{ item.credits }}</td>
  <td>{{ item.staff }}</td>
    </tr>
    {% endfor %}
</table>
</div>


<div class="add-logs">
  <form action="?getuser={{getuser}}" method="post">{% csrf_token %}
  <p class="add-label">Add logs to selected users</p>
  <p class="description-label">Description:</p><input type="text" name="description">
  <p class="credits-label">Credits:</p><input type="number" name="credits">
  <input type="submit" value="Submit" class="btn btn-default">
  </form>
  {{inform}}
</div>
{% endblock tabcontent %}

{% block jsfiles %}
{% endblock jsfiles %}