{% extends "volunteers/staff_templates/base_staff_activities.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/volunteerStaffActivity.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
<div class="input-group search">
  </div>
<div class="panel panel-default results">
    <div class="panel-heading">Activities</div>
    <table class="table">
    <tr>
    </tr>
    {% for item in query_results %}
    <tr> 
      <td>{{ item.name }}</td>
      {% if item.id != 1 %}
      <td><a href="?delete={{item.id}}">Delete</a></td>
      {% endif%}
    </tr>
    {% endfor %}
</table>
</div>

<div class="add-new-act">
  <p class="add-label">Add a new activity type</p>

  <form action="" method="post">{% csrf_token %}

  <p class="name-label">Name:</p>
  <input type="text" name="activityName">
  <br>
  <input class="submit-btn btn btn-default" type="submit" value="Submit" />
  </form>
</div>
{% endblock tabcontent %}

{% block jsfiles %}
{% endblock jsfiles %}