Welcome to the staff home page, {{user.first_name}}!
<br>
<a href="{% url 'volunteerStaffHome' %}">Home</a>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'editProfile' %}"> Edit account info </a>
<br>
<a href="{% url 'volunteerStaffActivity' %}"> Activities </a>

<br>
Here you can search for a certain volunteer!

<form action="{% url 'volunteerStaffUserSearchResult' %}" method="post">{% csrf_token %}

First name:
<input type="text" name="firstname">
<br>
Last name:
<input type="text" name="lastname">
<br>
<input type="submit" value="Search" />
</form>


<br>

<table>
    <tr>
        <th>User</th>
        <th>DateDone</th>
        <th>DateEntered</th>
        <th>activityType</th>
        <th>description</th>
        <th>credits</th>
    </tr>
    {% for item in query_results %}
    <tr> 
	    <td><a href="user/?getuser={{item.user}}">{{ item.user }}</a></td>
        <td>{{ item.dateDone }}</td>
        <td>{{ item.dateEntered }}</td>
        <td>{{ item.activityType.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.credits }}</td>
    </tr>
    {% endfor %}
</table>




<script>
var counter = 1;
var limit = 15;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "Entry " + (counter + 1) + " <input type='text' name='myInputs'>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>
