{% extends "volunteers/staff_templates/base_staff_search.html" %}
{% load staticfiles %}

{% block specificCss %}
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/Bootstrap/datepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/search.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/volunteerStaffLog.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/codeGenerator.css' %}" />
{% endblock specificCss %}

{% block tabcontent %}
<form action="{% url 'volunteerStaffUserSearchResult' %}" method="post">
{% csrf_token %}
<div class="filters">
  <p class="credits-label">Last name:</p>
  <input name="lastname" class="DateInput" type="text" value={{lastname}}>
  <br>
  <p class="credits-label">Credits between</p>
  <input name="creditsDown" class="DateInput" type="number" value={{creditsDown}}>
  <p class="credits-label">and </p>
  <input name="creditsUp" class="DateInput" type="number" value={{creditsUp}}>
  <br>
  <p class="credits-label">Phone</p>
  <input name="phone" class="DateInput" type="text" value={{phone}}>
  <p class="credits-label">Email</p>
  <input name="email" class="DateInput" type="text" value={{email}}>
  <input type="submit" value="Search" class="btn btn-default">
</div>



</form>

    
<div class="panel panel-default results">
    <div class="panel-heading">Users</div>
    <form action="" method="post">{% csrf_token %}
    <table class="table">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Credits Avaliable</th>
        </tr>
        {% for user, userCredit in search_results %}
        <tr>
          <td><a href="../user/?getuser={{ user }}" >{{ user.last_name }}</a></td>
          <td><a href="../user/?getuser={{ user }}" >{{ user.first_name }}</a></td>
          <td>{{ user.email }}</td>
          <td>{{ userCredit }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>
{% endblock tabcontent %}