{% load staticfiles %}
<html>
<head>
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/Bootstrap/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/volunteerHome.css' %}" />

</head>
<body>

<h1>
Welcome, {{user.username}} !
</h1>

<p class="total-credit"> Total Credits: {{total_credits}} </p>

<div "add-entry-and-edit-profile-btns">
	<button class="add-entry-btn btn btn-default" onclick="$('#tohide').toggle();">
		<span class="glyphicon glyphicon-plus"></span>
		Add Timesheet Entry
	</button>
	
	<div id="tohide">
	<form action="{% url 'submitNewLog' %}" method="post" id="newLogForm">{% csrf_token %}

	Date:
	<input type="text" name="date">
	<br>
	Task:
	<input type="text" name="task">
	<br>
	Hours:
	<input type="text" name="hours">
	<br>
	Rate:
	<input type="text" name="rate">
	<br>
	Voucher pts earned:
	<br>
	<div id="dynamicInput">
	          Entry 1<input type="text" name="myInputs">
	</div>
	<input type="button" value="Add another voucher code" onClick="addInput('dynamicInput');">

	<br>

	<input type="submit" value="Submit" />
	</form>
	</div>

	<button class="edit-profile-btn btn btn-default">
		Edit Profile Info
	</button>
</div>

<button class="spend-points-btn btn btn-default">
	<span class="glyphicon glyphicon-minus"></span>
	Spend Points
</button>

<div class="timesheet panel panel-default">
	<div class="panel-heading">Timesheet Entries</div>
	<table class="table">
	    <tr>
	        <th>User</th>
	        <th>Date Done</th>
	        <th>Activity Type</th>
	        <th>Description</th>
	        <th>Credits Earned</th>
	    </tr>
	    {% for item in query_results %}
	    <tr> 
	        <td>{{ item.user }}</td>
	        <td>{{ item.dateDone }}</td>
	        <td>???</td>
	        <td>{{ item.description }}</td>
	        <td>{{ item.credits }}</td>
	    </tr>
	    {% endfor %}
	</table>
</div>

<!-- JQuery -->
<script src="{% static 'volunteers/js/JQuery/jquery-1.11.2.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'volunteers/js/Bootstrap/bootstrap.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'volunteers/js/volunteerHome.js' %}"></script>
</body>


</html>
