Welcome to the staff home page, {{user.first_name}}!
<br>
<a href="{% url 'volunteerStaffHome' %}">Home</a>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'editProfile' %}"> Edit account info </a>
<br>
<a href="{% url 'volunteerStaffActivity' %}"> Activities </a>
<a href="{% url 'volunteerStaffUserSearchResult' %}"> Users </a>
<a href="{% url 'volunteerStaffLog' %}"> Logs </a>
<br>


Here are all the activities:
<br>
<table>
    {% for item in query_results %}
    <tr> 
	    <td>{{ item.name }}</td>
	    {% if item.id != 12 %}
	    <td><a href="?delete={{item.id}}">Delete</a></td>
	    {% endif%}
    </tr>
    {% endfor %}
</table>

Add a new activity!:

<form action="" method="post">{% csrf_token %}

Name:
<input type="text" name="activityName">
<br>
<input type="submit" value="Submit" />
</form>


<script>
var counter = 1;
var limit = 15;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "Entry " + (counter + 1) + " <input type='text' name='myInputs'>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>
