.voucher-points, .how-many{
	display: inline;
	margin: 20px 5px 0 20px;
}
.create-more-btn, .submit-btn{
	margin: 20px 10px 5px; 20px;
}
.nav{
	margin-bottom: 20px;
}
.generator-title, .find-title{
	font-size: 50px;
	font-weight: bold;
	border-bottom: 1px solid black;
	text-align: center;
	width: 50%;
	margin: 20px auto 20px auto;
}
.generator{
	margin: auto;
	text-align: center;
}
.delete-btn{
	background-color: red;
}