.voucher-points, .how-many{
	display: inline;
	margin: 20px 5px 0 20px;
}
.search-btn{
	float: right;
	margin-right: 10px;
}
.create-more-btn, .generate-btn{
	margin: 20px 10px 5px 20px;
}
.nav{
	margin-bottom: 20px;
}
.generator-title, .find-title, .add-activity-title{
	font-size: 40px;
	font-weight: bold;
	border-bottom: 1px solid black;
	text-align: center;
	width: 50%;
	margin: 50px auto 20px auto;
}
.add-activity-title{
	font-size: 20px;
	margin: 10px auto 20px auto;
}
.generator{
	margin: auto;
	text-align: center;
}
.export-btn{
	margin: 20px 100px 20px 20px;
	float: right;
}
.delete-btn{
	margin: 20px 20px 20px 100px;
}
.generate-btn{
	margin-bottom: 50px;
}
.vouchers-panel, .results{
	width: 90%;
	margin: 120px auto auto auto;
}
.activities{
	margin: 30px auto auto auto;
}
.act-name-label, .credits-label, .redeemed, .generated-btn, .generated-btn1, .and,.generated-btn2 ,.credits-btn1, .credits-btn2{
	display: inline-block;
}
.submit-btn{
	margin: auto;
	display: block;
}
.filters, .add-new-act{
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	margin:  auto auto 60px auto;
	display: block;
	padding: 20px;
	width: 50%;
}
.dropdown{
	position: relative;
	margin-bottom: 60px;
	overflow: visible;
}
.next-page{
	float: right;
}
.last-page{
	float: left;
}
.next-page, .last-page{
	margin: 0 20px 0 20px;
}
.gotopage{
	text-align: center;
	display: inline-block;
}
.goto-label{
	display: inline;
}
.toPage{
	width: 50px;
}
.wrap {
    float: left;
    position: relative;
    left: 50%;
}
.content {
    float: left;
    position: relative;
    left: calc(-50% - 140px);
}
