.search{
	width: 70%;
	margin: 30px auto 30px auto;
}
.results{
	width: 90%;
	margin: auto;
}

.add-logs{
	margin: 20px 0 0 20px;
}
.description-label, .credits-label{
	display: inline;
}
.submit-btn{
	margin-top: 10px;
	display: block;
}
.add-label{
	font-size: 20px;
}