.bnb-header, .subheader{
	text-align: center;
}
.bnb-header{
	margin: 30px 0 10px 0;
}
.subheader{
	margin-top: 0;
	font-style: italic;
}
.logout-btn{
	margin: 10px 20px 0 20px;
	float: right;
}
.profile-btn{
	margin: 10px -10px 0 20px;
	float: right;
}
