.update-profile-header, .delete-account-btn,
.title, .delete-title, .delete-note, .home{
	margin-left: 10px;
}
.submit-btn{
	float: right;
	margin-right: 10px;
}
.input-label{
	display: inline-block;
	width: 150px;
	height: 35px;
	position: relative;
}
.fields{
	width: 80%;
	margin: auto;
	border: 1px solid gray;
	border-radius: 25px;
	background-color: lightgray;
	padding: 10px;
	margin-bottom: 20px;
}
.changing-password-fields{
	display: none;
	padding-left: 10px;
}
.home{
	margin-top: 20px;
}